.hero-typer {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:2%;
    font-size:5.5rem;
    font-weight:700;
}

.heading-under-type {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:2%;
    font-size:5.5rem;
    font-weight:700;
    color:#9cbcdf;
    justify-content: center;
}

.subheading {
    font-family: sans-serif;
    font-weight:450;
    font-size:170%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:#a39e9e;
    line-height:1vw;
    text-size-adjust: auto;
}
.subheadingtwo {
    font-family: sans-serif;
    font-weight:450;
    flex-direction: column;
    font-size:170%;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#a39e9e;
    line-height:1vw;
    text-size-adjust: auto;
}








@media (max-width: 600px) {
    .hero-typer {
    padding-bottom:5%;
    font-size:3.5rem;
}

.heading-under-type {
    padding-top:5%;
    font-family: sans-serif;
    font-weight:600;
    font-size:300%;
    flex-direction: column;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#9cbcdf;
    line-height:1vw;
    text-size-adjust: auto;
    margin-bottom:8%;
}

.subheading {
    font-family: sans-serif;
    font-weight:450;
    font-size:80%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:#a39e9e;
    line-height:1vw;
    text-size-adjust: auto;
}
.subheadingtwo {
    font-family: sans-serif;
    font-weight:450;
    flex-direction: column;
    font-size:80%;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#a39e9e;
    line-height:1vw;
    text-size-adjust: auto;
}
}